.MainSelection {
    background-color: black;
    padding: 5%;
    display: flex;
    align-items: center;
    /* border: 2vh solid white; */

    justify-content: center;
    height: 100%;
    width: 100%;


}

.Vimg {
    width: 20%;
    height: 100%;
}

.NextSection {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    align-items: center;
}

.Vimg img {
    height: 100%;
    width: 100%;
}

.Sizes {

    width: 100%;
    text-align: center;
}

.Sizes>Button {
    background-color: #ED9112;
    border: none;
    color: black;
    font-size: 1.5rem;
    border-radius: 0;
    border-left: 0.5vh solid black;
    width: 16%;

}

.toppings {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.toppings>Button {
    width: 50%;
    margin-bottom: 1vh;
    text-align: left;
    color: #ED9112;
    border: none;
    background-color: black;
}

.addsection {
    border-top: #ED9112 solid 0.2vh;
    padding: 1vh;
}

@media screen and (max-width: 415px) {
    .MainSelection {
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* justify-content: space-around; */
        height: 100%;
        width: 100%;
        border: none;

    }

    .Vimg {
        width: 100%;
        height: 100%;
    }

    .Vimg>img {
        height: 50%;
        width: 100%
    }

    ;

}