.body {
  background-color: black;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 1rem 1rem;
}

.Bar {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbarLogo img {
  width: 6.5rem;
  height: 5.5rem;
  
}

.navbarCart img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container p > a {
  color: #adadad;
  font-family: var(--font-famil);
  font-size: 4vh;
  text-transform: capitalize;
  text-decoration: none;
  margin: 1rem 1rem;
  cursor: pointer;
}

.navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.navbar-menu_container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  z-index: 9;
  text-align: end;
  background: black;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.navbar-menu_container {
  margin: 1rem 0;
  background-color: black;
  border: #adadad solid 0.2vh;
  align-items: center;
  text-align: center;
}

.navbar-menu_container p {
  border-bottom: solid 0.2vh #ed9112;
}

.navbar-menu_container p > a {
  text-decoration: none;
  color: #adadad;
}

.navbar-menu_container p > a:hover {
  text-decoration: none;
  color: #ed9112;
}

@media screen and (max-width: 800px) {
  .container {
    display: none;
  }

  .navbar-menu {
    display: flex;
  }
  .navbarCart {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .main {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 550px) {
  .main {
    padding: 0.5rem;
  }

  .navbarCart {
    display: none;
  }
}

#cartbtn {
  background-color: #ed9112;
  color: black;
  border: none;
}
