.Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 90%;
  min-width: 250px;
  background-image: linear-gradient(to bottom, #383838, black);
  border-left: solid 0.1vh #5e5d5d;
  border-right: solid 0.1vh #5e5d5d;
  border-radius: 12px;
  margin: 0 2%;
}

.Box>img {
  height: 50%;
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.Box>h1 {
  font-size: 2rem;
}

.Addbtn {
  background-color: #ed9112;
  color: black;
  font-weight: bolder;
  text-align: center;
  font-size: 1.5rem;
  height: 12%;
  min-width: 40%;
  border: none;
  margin-bottom: 10%;
}