.mainSection
{
    padding: 10vh;
    background-color: black;
    color: antiquewhite;
    display: flex;
    overflow-x: auto;
    align-items: center;

    justify-content: space-around;

}

.mainSection::-webkit-scrollbar
{
    width: 0;
}