.ItemMain {
  width: 80%;
  height: 60vh;
  display: flex;
  align-items: center;
  background-color: black;
  color: antiquewhite;
  overflow-x: scroll;
  margin-top: 2vh;
  padding-bottom: 20px;
}

/* width and height of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

/* background color of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #222;
}

/* color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #ed9112;
  border-radius: 12px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* color of the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #ed9112;
}
