.OptionBar {
  width: 100%;
  padding: 7vh 7vh 0 7vh;
}

.MainBar {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 2vh;
  list-style: none;
  justify-content: space-evenly;
  color: #adadad;
  border-top: solid #242423 0.5vh;
  border-bottom: solid #242423 0.5vh;
}

.MainBar > li {
  text-decoration: none;
  color: #adadad;
  font-size: 2rem;
}

.OptionIcon {
  font-size: 3rem;
  color: gray;
  margin-right: 2vh;
}

#LOptionIcon {
  font-size: 3rem;
  color: gray;
}

@media screen and (max-width: 1105px) {
  .MainBar > li > span {
    display: none;
  }
}
