.OptionBar {

    width: 100%;
    padding: 7vh 7vh 0 7vh;
}



.MainBar {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 2vh;
    list-style: none;
    justify-content: space-evenly;
    color: #ADADAD;
    border-top: solid #242423 0.5vh;
    border-bottom: solid #242423 0.5vh;
}

.MainBar>li>a {
    text-decoration: none;
    color: #ADADAD;
    /* font-size: 6vh; */
}

.MainBar>li>a:hover {

    border-bottom: 0.5vh solid #ed9112;
}