/* .page {
    background-color: black;
    padding: 0 10vh;
}

@media screen and (max-width: 900px) {
    .page {

        background-color: black;
        padding: 0;

    }
} */

#root {
    font-family: 'Gloock', serif;
}